@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
